body {
    font-family: Arial, sans-serif;
    background-color: #0f5daa;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: #547db3;
    padding:7px;
    border-radius: 25px;
    margin-bottom: 10px;
    color: #0f043f;
    width:40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(8, 0, 255)px;
}

thead {
    background-color: #072b4f;
}

th {
    text-align: left;
    padding: 12px;
    font-weight: bold;
    border-bottom: 4px solid #071d33;
    
}

td {
    padding: 14px;
    border-bottom: 1px solid #bd0c0c;
}

td:hover {
    background-color: #f9f9f9;
}

.icon {
    margin-right: 10px;
}
.all{
    border-radius: 2px;
    border-color: black;
    background:blue;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom, #c9d6e8, #0e4dab);
    display: flex;
    justify-content: center;
    align-items: center;
}